.alignCenter {
    text-align: center;
}
.alignRight {
    text-align: right;
}

.valignMiddle {
    vertical-align: middle;
}
.valignMiddle td {
    vertical-align: middle;
}

.valignMiddleImportant {
    vertical-align: middle !important;
}
.valignMiddleImportant td {
    vertical-align: middle !important;
}

.valignTop {
    vertical-align: top;
}
.valignTop td {
    vertical-align: top;
}
