.alignCenter {
    justify-content: center;
    text-align: center !important;
}
.alignLeft {
    text-align: left;
}
.alignRight {
    display: flex;
    justify-content: right;
    text-align: right;
}

.valignBottom {
    align-items: end;
    display: flex;
    vertical-align: bottom;
}

.valignMiddle {
    align-items: center;
    display: flex;
    vertical-align: middle;
}

.valignTop {
    align-items: start;
    vertical-align: top;
}
