.alignCenter {
    justify-content: center;
    text-align: center;
}
.alignLeft {
    text-align: left;
}
.alignRight {
    display: flex;
    justify-content: right;
    text-align: right;
}

.valignBottom {
    align-items: end;
    display: flex;
    vertical-align: bottom;
}

.valignMiddle {
    align-items: center;
    display: flex;
    vertical-align: middle; /* not needed for <div> */
}
.valignMiddle td {
    vertical-align: middle;
}

.valignTop {
    align-items: start;
    /*display: flex;*/
    vertical-align: top;
}
.valignTop td {
    vertical-align: top;
}
