/* Background */
.bgColorGrayVeryLight {
    background-color: var(--colorGrayVeryLight);
}
.bgColorGrayVeryLightImportant {
    background-color: var(--colorGrayVeryLight) !important;
}
.bgColorGrayExtremelyLight {
    background-color: var(--colorGrayExtremelyLight);
}
.bgColorWhite {
    background-color: white;
}
.bgColorYellowVeryLight {
    background-color: var(--colorYellowVeryLight);
}

/* Text */
.colorTransparent {
    color: rgba(0, 0, 0, 0);
}
.colorGoldLight {
    color: var(--colorGoldLight);
}
.colorGoldVeryLight {
    color: var(--colorGoldVeryLight);
}
.colorGraySemiDark {
    color: var(--colorGraySemiDark);
}
.colorGray {
    color: var(--colorGray);
}
.colorGrayLight {
    color: var(--colorGrayLight);
}
.colorGreen {
    color: var(--colorGreen);
}
.colorGreenVeryLight {
    color: var(--colorGreenVeryLight);
}
.colorRed {
    color: var(--colorRed);
}
.colorRedLight {
    color: var(--colorRedLight);
}
.colorYellowLight {
    color: var(--colorYellowLight);
}
