/* Background */
.bgColorGrayVeryLight {
    background-color: var(--colorGrayVeryLight);
}
.bgColorYellowVeryLight {
    background-color: var(--colorYellowVeryLight);
}

/* Text */
.colorGoldLight {
    color: var(--colorGoldLight);
}
.colorGraySemiDark {
    color: var(--colorGraySemiDark);
}
.colorGray {
    color: var(--colorGray);
}
.colorGrayLight {
    color: var(--colorGrayLight);
}
.colorGreen {
    color: var(--colorGreen);
}
.colorGreenVeryLight {
    color: var(--colorGreenVeryLight);
}
.colorRed {
    color: var(--colorRed);
}
.colorTransparent {
    color: rgba(0, 0, 0, 0);
}
.colorYellowLight {
    color: var(--colorYellowLight);
}
