/* Background */
.bgColorGrayExtremelyLight {
    background-color: var(--colorGrayExtremelyLight);
}

/* Text */
.colorTransparent {
    color: rgba(0, 0, 0, 0);
}
.colorGoldLight {
    color: var(--colorGoldLight);
}
.colorGoldVeryLight {
    color: var(--colorGoldVeryLight);
}
.colorGraySemiDark {
    color: var(--colorGraySemiDark);
}
.colorGray {
    color: var(--colorGray);
}
.colorGraySemiLight {
    color: var(--colorGraySemiLight);
}
.colorGrayLight {
    color: var(--colorGrayLight);
}
.colorGreen {
    color: var(--colorGreen);
}
.colorRed {
    color: var(--colorRed);
}
.colorRedLight {
    color: var(--colorRedLight);
}
