input,
select {
    border: 0;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 0.9rem;
    outline: 1px solid var(--colorGray);
    padding: 0.5rem;
    padding-left: 0.6rem;
}

input {
    width: 100%;
}

input:focus {
    background-color: var(--colorYellowVeryLight);
    outline: 3px solid var(--colorGrayDark);
    transition: background-color 0.25s;
}

input.error {
    outline: 3px solid var(--colorRedLight);
}
input:focus.error {
    outline: 3px solid var(--colorGrayDark);
}

option {
    font-size: 1rem;
    padding: 0.25rem;
    padding-top: 0.5rem;
}

textarea {
    resize: none;
    font-size: 1rem;
}

.adminForm input,
select {
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0;
}

.adminFormItemEdit input,
select {
    font-size: inherit !important;
}

.fileUpload {
    padding: 1rem;
}

.validationError {
    color: var(--colorRedLight);
    font-size: 1rem;
    font-style: italic;
    margin-bottom: 0.5rem;
}
