form {
    text-transform: capitalize;
}

input,
select {
    font-size: 1rem;
    padding: 9px;
    border-style: solid;
    border-color: rgb(205, 200, 200);
    border-radius: 5px;
    /*background-color: rgb(255, 250, 235);*/
    margin-right: 9px;
    margin-bottom: 3px;
    margin-top: 3px;
}

option {
    text-transform: capitalize;
    font-size: 18px;
}

.adminForm input,
select {
    font-size: 0.75rem;
    padding: 5px;
    margin: 0;
}

.adminFormItemEdit input,
select {
    font-size: inherit !important;
}
