input {
    border: 0;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 0.9rem;
    outline: 1px solid var(--colorGray);
    padding: 0.5rem;
    padding-left: 0.6rem;
    width: 100%;
}

input:focus {
    background-color: var(--colorYellowVeryLight);
    outline: 3px solid var(--colorGrayDark);
    transition: background-color 0.25s;
}

::placeholder {
    color: rgb(170, 171, 172);
    font-size: 0.9em;
    font-style: italic;
}

input.error {
    outline: 3px solid var(--colorRedLight);
}
input:focus.error {
    outline: 3px solid var(--colorGrayDark);
}

select,
option {
    font-size: 0.9rem;
    padding: 0.5rem;
}

textarea {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    padding: 0.5rem;
    resize: none;
}

.adminForm input,
.adminForm select {
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0;
}

.adminFormItemEdit input,
adminFormItemEdit select {
    font-size: inherit;
}

.fileUpload {
    padding: 1rem;
}

.validationError {
    color: var(--colorRedLight);
    font-size: 1rem;
    font-style: italic;
    margin-bottom: 0.5rem;
}
