.grid-container {
    display: grid !important;
}

.grid-container.left > div {
    text-align: left;
}

.grid-container.middle > div {
    align-items: center;
    display: flex;
}

.grid-container.padded1rem > div {
    padding: 1rem;
}

.grid-container.striped > div {
    border-bottom: 3px solid var(--colorGrayLight);
}

.gridStripedHeaderRow {
    background-color: var(--colorGrayVeryLight);
    border-top: 3px solid var(--colorGrayLight);
    font-weight: 600;
}

/* Columns */
.grid-container[data-cols='1'] {
    grid-template-columns: 1fr;
}
.grid-container[data-cols='2'] {
    grid-template-columns: repeat(2, 1fr);
}
.grid-container[data-cols='3'] {
    grid-template-columns: repeat(3, 1fr);
}
.grid-container[data-cols='auto 1fr'] {
    grid-template-columns: auto 1fr;
}
.grid-container[data-cols='auto'] {
    grid-auto-flow: column;
    grid-template-columns: auto;
}

.gridSpan2 {
    grid-column: span 2;
}
.gridSpan3 {
    grid-column: span 3;
}

/* Gap */
.grid-container[data-gap='0'] {
    gap: 0;
}
.grid-container[data-gap='0.5rem'] {
    gap: 0.5rem;
}
.grid-container[data-gap='0.75rem'] {
    gap: 0.75rem;
}
.grid-container[data-gap='0.9rem'] {
    gap: 0.9rem;
}
.grid-container[data-gap='1rem'] {
    gap: 1rem;
}
.grid-container[data-gap='1.5rem'] {
    gap: 1.5rem;
}
.grid-container[data-gap='2rem'] {
    gap: 2rem;
}
.grid-container[data-gap='3rem'] {
    gap: 3rem;
}
.grid-container[data-gap='4rem'] {
    gap: 4rem;
}
.grid-container[data-gap='1rem 2rem'] {
    gap: 1rem 2rem;
}

/* Styling */
.underlinedGridItem {
    border-bottom: 1px dotted var(--colorGrayLight);
}
