.grid-container {
    display: grid;
}

/* Columns */
.grid-container[data-cols='1'] {
    grid-template-columns: 1fr;
}
.grid-container[data-cols='2'] {
    grid-template-columns: repeat(2, 1fr);
}
.grid-container[data-cols='3'] {
    grid-template-columns: repeat(3, 1fr);
}

/* Gap */
.grid-container[data-gap='1rem'] {
    grid-gap: 1rem;
}
.grid-container[data-gap='1.5rem'] {
    grid-gap: 1.5rem;
}
.grid-container[data-gap='2rem'] {
    grid-gap: 2rem;
}
.grid-container[data-gap='3rem'] {
    grid-gap: 3rem;
}
