.imgFlex {
    display: flex;
    align-items: center !important;
    align-content: center !important;
}
.imgFlex img {
    margin-right: 1rem;
}

.imgAdminItems {
    display: block;
    width: 3rem;
    height: 3rem;
    margin-right: 0.5rem;
}
.imgAdminThumb {
    display: block;
    width: 10rem;
    height: 10rem;
    margin-right: 1rem;
}
.imgItemColumn {
    display: block;
    height: 6rem;
}

.imgItemDetails {
    display: block;
    height: fit-content;
}
