.imgAdminItems {
    border: 1px solid var(--colorGrayLight);
    display: block;
    height: 3em;
    margin-right: 0.5rem;
}
.imgAdminItems.new {
    border-color: var(--colorGreenLight);
    outline: 1px solid var(--colorGreenLight);
}
.imgAdminItems.toRemove {
    border-color: var(--colorRedLight);
    opacity: 0.5;
    outline: 1px solid var(--colorRedLight);
}

.imgAdminThumb {
    border: 1px solid var(--colorGrayLight);
    display: block;
    height: 10rem;
    width: 10rem;
}

.imgFlex {
    align-items: center !important;
    align-content: center !important;
    justify-content: flex-start !important;
    display: flex;
    flex-wrap: wrap;
}
.imgFlex img {
    margin-bottom: 0.25rem;
    margin-top: 0.25rem;
}

.imgSelected {
    cursor: grabbing;
    outline: 0.3rem solid var(--colorGreenLight);
}

.imgShoppingCart {
    display: block;
    width: 3rem;
    height: auto;
}

.imgItemColumn {
    display: block;
    height: 6rem;
}

.imgItemDetails {
    display: block;
    width: 100%;
    height: auto;
}

.imgThumb {
    cursor: pointer;
}
