.imgFlex {
    display: flex;
    align-items: center !important;
    align-content: center !important;
}
.imgFlex img {
    margin-right: 1rem;
}

.imgAdminItems {
    display: block;
    width: 3rem;
    height: 3rem;
    margin-right: 0.5rem;
}

.imgAdminThumb {
    display: block;
    width: 10rem;
    height: 10rem;
    margin-right: 1rem;
}

.imgSelected {
    outline: 0.25rem solid var(--colorGreenLight);
    opacity: 0.75;
}

.imgItemColumn {
    display: block;
    height: 6rem;
}

.imgItemDetails {
    display: block;
    width: 100%;
    height: auto;
}
