.item {
    color: var(--colorGrayDark);
    background-color: white;
    border-radius: 1rem;
    box-sizing: border-box;
    height: 100%;
    max-width: min(100%, var(--contentMaxWidth));
    outline: 2px solid var(--colorGrayLight);
    padding-top: 1rem;
    padding-bottom: 1.25rem;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
    transition: all 0.15s;
}
.item:hover {
    outline: 6px solid var(--colorGrayLight);
    transition: border 0s, outline 0.15s;
}
.item:active {
    outline: 6px solid var(--colorGray);
    transition: all 0s;
}

.itemDetails {
    box-sizing: border-box;
    border: 3px solid var(--colorGrayLight);
    border-radius: 1em;
    padding: 1.5rem 2.5rem;
}

.itemDetailsDescription {
    white-space-collapse: preserve-breaks;
}

.itemDetailsName {
    font-size: var(--fontSizeExtremelyLarge);
    font-weight: bold;
}

.itemDetailsPrice {
    border-radius: 20px;
    color: var(--colorGoldLight);
    font-size: var(--fontSizeExtremelyLarge);
    font-weight: bold;
}

.itemInStock {
    color: var(--colorGreen);
}
.itemSoldOut {
    color: var(--colorRed);
}

.shoppingCartRowNarrow {
    border-left: 3px solid var(--colorGrayLight);
    border-right: 3px solid var(--colorGrayLight);
}
