.adminItems td {
    padding-right: 2.5rem;
}

.item {
    color: var(--colorGrayDark);
    background-color: white;
    outline: 2px solid var(--colorGrayLight);
    border-radius: 1rem;
    padding-top: 1rem;
    padding-bottom: 1.25rem;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
    transition: all 0.15s;
}
.item:hover {
    outline: 6px solid var(--colorGrayLight);
    transition: border 0s, outline 0.15s;
}
.item:active {
    outline: 6px solid var(--colorGray);
    transition: all 0s;
}

.itemDetails {
    border: 2px solid var(--colorGrayLight);
    border-radius: 15px;
    padding-left: 2rem;
    padding-right: 2rem;
}

.itemDetailsName {
    font-size: 1.75rem;
    font-weight: bold;
}

.itemDetailsPrice {
    font-size: 1.5rem;
    font-weight: bold;
}

.itemInStock {
    color: var(--colorGreen);
}
.itemSoldOut {
    color: var(--colorRed);
}
