.displayContents {
    display: contents !important;
}

.divCenter {
    margin: auto;
}

.divMaxWidth40rem {
    max-width: 40rem;
}

.divMinHeight {
    height: min-content;
}

.divMinWidth {
    width: min-content;
}

.height1rem {
    height: 1rem;
}
.height7rem {
    height: 7rem;
}
.height10rem {
    height: 10rem;
}
.heightFull {
    height: 100%;
}

.hidden {
    display: none !important;
}

.margin0_5 {
    margin: 0.5rem;
}

.marginBottom0_25 {
    margin-bottom: 0.25rem;
}
.marginBottom0_5 {
    margin-bottom: 0.5rem;
}
.marginBottom1 {
    margin-bottom: 1rem;
}
.marginBottom1_25 {
    margin-bottom: 1.25rem;
}
.marginBottom1_5 {
    margin-bottom: 1.5rem;
}
.marginBottom2 {
    margin-bottom: 2rem;
}
.marginBottom3 {
    margin-bottom: 3rem;
}
.marginBottom5 {
    margin-bottom: 5rem !important;
}

.marginLeft1 {
    margin-left: 1rem;
}
.marginLeft2_5 {
    margin-left: 2.5rem;
}

.marginTop-0_5 {
    margin-top: -0.5rem;
}
.marginTop0 {
    margin-top: 0 !important;
}
.marginTop0_5 {
    margin-top: 0.5rem;
}
.marginTop1 {
    margin-top: 1rem;
}
.marginTop1_25 {
    margin-top: 1.25rem;
}
.marginTop1_5 {
    margin-top: 1.5rem;
}
.marginTop2 {
    margin-top: 2rem;
}
.marginTop3 {
    margin-top: 3rem;
}

.marginTop1em {
    margin-top: 1em;
}

.padding0 {
    padding: 0;
}
.padding0Important {
    padding: 0 !important;
}
.padding1 {
    padding: 1rem;
}
.paddingLeft0 {
    padding-left: 0 !important;
}
.paddingLeft1 {
    padding-left: 1rem;
}
.paddingRight0 {
    padding-right: 0 !important;
}
.paddingRight1 {
    padding-right: 1rem !important;
}

:root {
    --contentWidth: 1024px;
}

.pageWidth {
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
    min-width: 100px;
}
@media (max-width: 1124px) {
    .pageWidth {
        padding-left: 50px;
        padding-right: 50px;
    }
}

.pageWidth_66 {
    margin-left: auto;
    margin-right: auto;
    max-width: calc(var(--contentWidth) * 0.66);
    min-width: 100px;
}

.stickyTop1rem {
    position: sticky;
    top: 1rem;
}

.width5rem {
    width: 5rem;
}
.width6rem {
    width: 6rem;
}
.width11rem {
    width: 11rem;
}
.width20rem {
    width: 20rem;
}
.width32rem {
    width: 32rem;
}
.width33 {
    width: 33%;
}
.widthFull {
    width: 100%;
}
