.divCenter {
    margin: auto;
}

.divMaxWidth40rem {
    max-width: 40rem;
}

.divMinWidth {
    width: min-content;
}

.height10rem {
    height: 10rem;
}
.heightFull {
    height: 100%;
}

.marginBottom1 {
    margin-bottom: 1rem;
}
.marginBottom1_25 {
    margin-bottom: 1.25rem;
}
.marginBottom1_5 {
    margin-bottom: 1.5rem;
}
.marginBottom2 {
    margin-bottom: 2rem;
}
.marginBottom5 {
    margin-bottom: 5rem !important;
}

.marginLeft1 {
    margin-left: 1rem;
}
.marginLeft2_5 {
    margin-left: 2.5rem;
}

.marginTop-0_5 {
    margin-top: -0.5rem;
}
.marginTop0 {
    margin-top: 0 !important;
}
.marginTop0_5 {
    margin-top: 0.5rem;
}
.marginTop1 {
    margin-top: 1rem;
}
.marginTop1_5 {
    margin-top: 1.5rem;
}
.marginTop2 {
    margin-top: 2rem;
}
.marginTop3 {
    margin-top: 3rem;
}

.marginTop1em {
    margin-top: 1em;
}

.padding1 {
    padding: 1rem;
}
.paddingLeft1 {
    padding-left: 1rem;
}
.paddingRight1 {
    padding-right: 1rem;
}

.pageWidth {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--contentWidth);
    min-width: 100px;
}
.pageWidth_66 {
    margin: auto;
    max-width: calc(var(--contentWidth) * 0.66);
    min-width: 100px;
}

.width100 {
    width: 100%;
}
