a {
    font-weight: 500;
    color: var(--colorGold);
    cursor: pointer;
    text-decoration: inherit;
}
a:hover {
    color: var(--colorGoldVeryLight);
    transition: color 0.25s;
}
a:active {
    color: var(--colorGoldLight);
    transition: color 0s;
}

.link {
    color: var(--colorGold);
}
.link:hover {
    color: var(--colorGoldVeryLight);
    transition: color 0.25s;
}
.link:active {
    color: var(--colorGoldLight);
    transition: color 0s;
}
