/* Top menu ("navi bar") */
.menu {
    background-color: var(--colorGrayDarkest);
    color: var(--colorGrayLight);
}
.menu td {
    padding: 0px;
}

.menuLink {
    color: var(--colorWhite);
    padding-top: 20px !important;
    padding-bottom: 22px !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
}
.menuLink:hover {
    background-color: var(--colorGraySemiDark);
    color: var(--colorGoldVeryLight);
    cursor: pointer;
    transition: background-color 0.25s;
    transition: color 0.25s;
}
.menuLink:active {
    background-color: var(--colorGrayDark);
    color: var(--colorGoldLight);
    transition: background-color 0s;
    transition: color 0s;
}
.menuLinkSmall {
    padding-top: 10px !important;
    padding-bottom: 11px !important;
}

/* Categories ("frontpage" of /shop/) */
.categoryLink {
    color: var(--colorWhite);
    background-color: var(--colorGrayDarkest);
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 18px;
    padding-left: 20px;
    padding-right: 20px;
}
.categoryLink:hover {
    background-color: var(--colorGraySemiDark);
    color: var(--colorGoldVeryLight);
    cursor: pointer;
    transition: background-color 0.25s;
    transition: color 0.25s;
}
.categoryLink:active {
    background-color: var(--colorGrayDark);
    color: var(--colorGoldLight);
    transition: background-color 0s;
    transition: color 0s;
}

/* Misc */
.currentPage {
    text-decoration: underline solid;
    text-underline-offset: 0.35rem;
    text-decoration-color: var(--colorGoldVeryLight);
    text-decoration-thickness: 0.2rem;
}
