.menu {
    background-color: rgb(70, 70, 70);
    color: rgb(200, 200, 200);
}

.menuLink {
    color: rgb(255, 255, 255);
    transition: color 0.1s;
}
.menuLink:hover {
    color: rgb(255, 245, 170);
}
.menuLink:active {
    color: rgb(255, 225, 0);
}
