/* Top menu ("navi bar") */
.menu {
    background-color: var(--colorGrayDarkest);
    color: var(--colorGrayLight);
}
.menu td {
    padding: 0px;
}

.menuLink {
    color: var(--colorWhite);
    padding-top: 20px !important;
    padding-bottom: 22px !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
}
.menuLink:hover {
    background-color: var(--colorGrayDark);
    color: var(--colorGoldVeryLight);
    cursor: pointer;
}
.menuLink:active {
    color: var(--colorGoldLight);
}

/* Categories ("frontpage" of /shop/) */
.categoryLink {
    color: var(--colorWhite);
    background-color: var(--colorGrayDarkest);
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 18px;
    padding-left: 20px;
    padding-right: 20px;
}
.categoryLink:hover {
    background-color: var(--colorGrayDark);
    color: var(--colorGoldVeryLight);
    cursor: pointer;
}
.categoryLink:active {
    color: var(--colorGoldLight);
}
