/* Top menu ("navi bar") */
.adminOrdersMenu {
    border: 3px solid var(--colorGrayLight);
    font-weight: 600;
    grid-template-columns: 1fr auto 1fr auto 1fr;
    padding: 0.5rem;
    user-select: none;
}
@media (max-width: 700px) {
    .adminOrdersMenu {
        grid-template-columns: 1fr;
    }
}

.languageSelection {
    border-radius: 7px;
    color: white;
    cursor: pointer;
    font-size: var(--fontSizeSmallish);
    font-weight: 600;
    letter-spacing: 0.1rem;
    padding: 0.75em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    transition: all 0.25s;
}
.languageSelection:hover {
    background-color: var(--colorGrayDark);
    color: var(--colorGoldVeryLight);
    transition: all 0.25s;
}
.languageSelection:active {
    color: var(--colorGoldLight);
    transition: all 0s;
}
.languageSelected {
    cursor: default;
    text-decoration: underline solid;
    text-underline-offset: 0.2rem;
    text-decoration-color: var(--colorGoldVeryLight);
    text-decoration-thickness: 0.15rem;
}
.languageSelected:hover {
    color: white;
}

.menu {
    background-color: var(--colorGrayDarkest);
    color: var(--colorGrayLight);
    padding-top: 0;
}

.menuLink {
    align-items: center;
    border-radius: 5px;
    box-sizing: border-box;
    color: var(--colorWhite);
    display: flex;
    font-weight: 600;
    height: 100%;
    min-height: 3em;
    padding-left: 1.25em;
    padding-right: 1.25em;
    white-space: nowrap;
    transition: all 0.25s;
}
.menuLink:hover {
    background-color: var(--colorGrayDark);
    color: var(--colorGoldVeryLight);
    cursor: pointer;
    transition: all 0.25s;
}
.menuLink:active {
    color: var(--colorGoldLight);
    transition: all 0s;
}

/* Misc */
.currentPage {
    text-decoration: underline solid;
    text-underline-offset: 0.35rem;
    text-decoration-color: var(--colorGoldVeryLight);
    text-decoration-thickness: 0.2rem;
}

.shoppingCartIndicator {
    align-content: center;
    background-color: var(--colorGoldLight);
    border-radius: 5px;
    color: white;
    font-size: var(--fontSizeNormal);
    font-weight: 600;
    height: 100%;
    padding-left: 0.5em;
    padding-right: 0.55em;
}
