.adminFormDiv {
    border: solid 3px var(--colorGrayLight);
    border-radius: 1rem;
    padding: 2rem;
}

.buttonHighlight {
    transition: all 0.25s;
}
.buttonHighlight:has(button:hover) {
    background-color: var(--colorYellowExtremelyLight) !important;
    transition: all 0.25s;
}
.buttonHighlight:has(button:hover) > div {
    background-color: var(--colorYellowExtremelyLight);
    transition: all 0.25s;
}

.categoryLink {
    background-color: var(--colorGrayDark);
    border-radius: 15px;
    box-sizing: border-box;
    color: var(--colorWhite);
    height: 100%;
    padding-top: 1rem;
    padding-bottom: 1.3rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    text-align: left;
    transition: all 0.25s;
}
.categoryLink:hover {
    background-color: var(--colorGrayDark);
    color: var(--colorGoldVeryLight) !important;
    cursor: pointer;
    outline: 6px solid var(--colorGoldVeryLight);
    transition: color 0.25s, outline 0.15s;
}
.categoryLink:active {
    background-color: var(--colorGrayDarkest);
    color: var(--colorGoldLight);
    outline: 6px solid var(--colorGoldLight);
    transition: all 0s;
}

.checkOutPaymentMethod {
    height: 3rem;
    width: auto;
}

.clickable {
    cursor: pointer;
    user-select: none;
}

.deliveryMethod {
    border-radius: 0.75rem;
    cursor: pointer;
    line-height: 1.25rem;
    outline: solid 2px var(--colorGray);
    padding: 0.9rem;
}
.deliveryMethod td {
    padding: 0 !important;
}
.deliveryMethod:hover {
    outline: solid 4px var(--colorGray);
}
.deliveryMethod:active {
    outline: 4px solid black;
}
.deliveryMethodSelected {
    background-color: var(--colorGreenVeryLight);
    outline: 4px solid var(--colorGreenDark);
}
.deliveryMethodSelected:hover {
    outline: 4px solid var(--colorGreenDark);
}

.footer {
    background-color: var(--colorGrayDarkest);
    color: white;
    font-size: 1rem;
    font-weight: normal;
    text-align: left;
}

.height1rem {
    height: 1rem;
}

.hidden {
    display: none !important;
}

.hoverableRow {
    border-radius: 0;
    transition: all 0.35s;
}
.hoverableRow.hover {
    background-color: var(--colorYellowVeryLight) !important;
    border-radius: 0.5em;
    transition: all 0.35s;
}

.infoBox {
    border: solid 3px var(--colorGrayLight);
    border-radius: 15px;
    padding: 2rem;
}
.infoBox.errors {
    border: solid 3px var(--colorRedLight);
}
.infoBox.red {
    border-color: var(--colorRed) !important;
}

.languageSelection {
    color: white;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    transition: color 0.25s;
}
.languageSelection:hover {
    color: var(--colorGoldVeryLight);
    transition: color 0.25s;
}
.languageSelection:active {
    color: var(--colorGoldLight);
    transition: color 0s;
}
.languageSelected {
    cursor: default;
    text-decoration: underline solid;
    text-underline-offset: 0.2rem;
    text-decoration-color: var(--colorGoldVeryLight);
    text-decoration-thickness: 0.15rem;
}
.languageSelected:hover {
    color: white;
}

.loading {
    font-size: 2rem;
    font-weight: 600;
    padding: 2rem;
}

.paymentMethodSelection {
    border-radius: 0;
    border: 0.5rem solid var(--colorGrayLight);
    padding: 1rem;
}

.searchBox {
    align-items: center;
    background-color: var(--colorGrayExtremelyLight);
    border: 2px solid var(--colorGray);
    border-radius: 0.5rem;
    display: flex;
    padding: 1rem;
}

.validationErrors {
    border: 3px solid var(--colorRed);
    border-radius: 0.5em;
    color: var(--colorRed);
    font-weight: 600;
    padding: 1em;
}

.validationErrors td {
    border: 3px solid var(--colorRed);
    color: var(--colorRed);
}

.width5rem {
    width: 5rem;
}
