.notification {
    border: 2px solid;
    font-size: var(--fontSizeLarge);
    height: 4rem;
    overflow: hidden !important;
    position: sticky;
    top: 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.notification.hidden {
    height: 1px !important;
}

.notificationPositive {
    background-color: var(--colorGreenVeryLight);
    border-color: var(--colorGreen);
    color: var(--colorGreenDark);
}
.notificationNeutral {
    background-color: var(--colorYellowVeryLight);
    border-color: color;
    color: var(--colorGrayDark);
}
.notificationNegative {
    background-color: var(--colorRedVeryLight);
    border-color: color;
    color: var(--colorRed);
}

.notification a {
    color: inherit;
    text-decoration: underline;
}
.notification a:hover {
    color: inherit;
    opacity: 0.5;
}
.notification a:active {
    color: inherit;
    opacity: 0.75;
}
