.notification {
    border: 2px solid;
    border-top: 2px solid;
    border-bottom: 2px solid;
    height: 3.45rem;
    will-change: height;
    overflow: hidden !important;
    transition: height 0.75s ease-in-out !important;
    padding-top: calc(var(--default-padding) * 0.4);
    padding-bottom: calc(var(--default-padding) * 0.4);
}

.notification.hidden {
    height: 1px !important;
    transition: height 0.75s ease-in-out !important;
}

.notificationPositive {
    background-color: var(--colorGreenVeryLight);
    color: var(--colorGreenDark);
    border-color: color;
}
.notificationNeutral {
    background-color: var(--colorGrayVeryLight);
    color: var(--colorGrayDark);
    border-color: color;
}
.notificationNegative {
    background-color: var(--colorRedVeryLight);
    color: var(--colorRed);
    border-color: color;
}

.notificationBig {
    font-size: var(--fontSizeLarge);
}
.notificationSmall {
    font-size: var(--fontSizeLarge);
}
