.adminOrderDetailsDiv {
    border-radius: 1.25rem;
    margin: 2px;
    margin-bottom: 3px;
    outline: 3px solid var(--colorGray);
    padding: 1.25rem;
}

.adminOrderDetailsRow {
    padding: 0;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}

.adminOrders {
    border-collapse: collapse;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.adminOrders td {
    padding-bottom: 0.6rem;
    padding-top: 0.6rem;
}

.adminOrdersOpened {
    background-color: var(--colorYellowVeryLight) !important;
    border-bottom: 0 !important;
}

.orderInfo {
    background-color: var(--colorGrayExtremelyLight);
    border: 3px solid var(--colorGrayLight);
    padding: 1rem;
    padding-left: 1.5rem;
    text-align: left;
}
.orderInfo.pending {
    border-style: dotted;
}

.userOrderDetails {
    background-color: white;
    border-radius: 0.5rem;
    outline: 2px solid var(--colorGraySemiDark);
    padding: 2rem;
}

.userOrderHistoryRowOpened {
    background-color: var(--colorYellowVeryLight) !important;
}
.userOrderHistoryRowOpened td:first-child {
    border-radius: 0;
}
.userOrderHistoryRowOpened td:last-child {
    border-radius: 0;
}
