.adminOrderDetailsDiv {
    background-color: white !important;
    border-radius: 1.25rem;
    margin: 2px;
    margin-bottom: 3px;
    outline: 3px solid var(--colorGray);
    padding-bottom: 1.4rem !important;
    padding-top: 1.25rem !important;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
}

.adminOrders {
    border-collapse: collapse;
}

.adminOrdersList {
    font-size: min(var(--fontSizeNormal), 2.3vw);
}
.adminOrdersList button {
    font-size: min(var(--fontSizeNormal), 2.3vw);
    padding-left: 1em;
    padding-right: 1em;
}

.adminOrdersOpened > div {
    background-color: var(--colorYellowVeryLight) !important;
    border-bottom: 0 !important;
}

.orderInfo {
    background-color: var(--colorGrayExtremelyLight);
    border: 3px solid var(--colorGrayLight);
    font-size: min(var(--fontSizeNormal), 2.3vw);
    padding: 1em;
    padding-left: min(1.5em, 2vw);
    text-align: left;
}
.orderInfo.pending {
    border-style: dotted;
}

.orderInfoSubHeader {
    font-size: min(var(--fontSizeSmallish), 2vw);
    color: var(--colorGray);
    text-transform: uppercase;
}

.userOrderDetails {
    background-color: white;
    border-radius: 0.5rem;
    margin-bottom: 2px;
    outline: 2px solid var(--colorGraySemiDark);
    padding: min(5vw, 2rem);
    width: 100%;
}

.userOrderHistory {
    font-size: min(1rem, 2.5vw);
}
.userOrderHistory button {
    font-size: min(1rem, 2.5vw);
    padding: min(1rem, 1.6vw);
}

.userOrderHistoryRowOpened > div {
    background-color: var(--colorYellowVeryLight) !important;
}
