:root {
    --colorGold: rgb(134, 110, 80);
    --colorGoldLight: rgb(169, 141, 103);
    --colorGoldVeryLight: rgb(201, 175, 132);

    --colorGrayDarkest: rgb(50, 51, 52);
    --colorGrayDark: rgb(60, 61, 62);
    --colorGraySemiDark: rgb(75, 76, 77);
    --colorGray: rgb(140, 141, 142);
    --colorGrayLight: rgb(210, 211, 212);
    --colorGrayVeryLight: rgb(240, 240, 240);
    --colorGrayExtremelyLight: rgb(245, 246, 247);

    --colorGreenDark: rgb(0, 100, 0);
    --colorGreen: rgb(0, 135, 0);
    --colorGreenLight: rgb(0, 200, 0);
    --colorGreenVeryLight: rgb(230, 255, 220);

    --colorRedVeryLight: rgb(255, 209, 199);
    --colorRedLight: rgb(225, 0, 0);
    --colorRed: rgb(185, 0, 0);
    --colorRedDark: rgb(155, 0, 0);
    --colorRedVeryDark: rgb(135, 0, 0);

    --colorYellowVeryLight: rgb(255, 255, 225);
    --colorYellowLight: rgb(255, 250, 170);
    --colorYellow: rgb(255, 220, 82);
    --colorWhite: rgb(255, 255, 255);
}
