:root {
    --colorGold: rgb(134, 110, 80);
    --colorGoldLight: rgb(169, 141, 103);
    --colorGoldVeryLight: rgb(201, 175, 132);

    --colorGrayDarkest: rgb(50, 51, 52);
    --colorGrayDark: rgb(60, 61, 62);
    --colorGraySemiDark: rgb(65, 66, 67);
    --colorGray: rgb(140, 141, 142);
    --colorGrayLight: rgb(220, 221, 222);
    --colorGrayVeryLight: rgb(240, 241, 242);
    --colorGrayExtremelyLight: rgb(245, 247, 249);

    --colorGreenDark: rgb(0, 100, 0);
    --colorGreen: rgb(0, 135, 0);
    --colorGreenLight: rgb(0, 200, 0);
    --colorGreenVeryLight: rgb(230, 255, 220);

    --colorRedVeryLight: rgb(255, 209, 199);
    --colorRedLight: rgb(225, 0, 0);
    --colorRed: rgb(189, 45, 36);
    --colorRedDark: rgb(146, 33, 26);
    --colorRedVeryDark: rgb(126, 28, 22);

    --colorYellowVeryLight: rgb(254, 254, 216);
    --colorYellowLight: rgb(255, 250, 170);
    --colorYellow: rgb(255, 220, 82);
    --colorWhite: rgb(255, 255, 255);
}
