:root {
    background-color: white;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: var(--fontSizeNormal);
    font-synthesis: none;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
    text-rendering: optimizeLegibility;
    vertical-align: top;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    --contentWidth: 1024px;
    --contentMaxWidth: 90vw;
}

html,
body {
    display: block;
    height: 100%;
    margin: 0;
    min-width: 100px;
    padding-top: 0;
    place-items: top;
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* This ensures the container takes at least the full viewport height */
}

.content-container {
    flex-grow: 1;
}
