:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1;
    font-weight: 400;

    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    --default-padding: 1rem; /* paddingBottom: 'calc(var(--default-padding) * 2 + 3px)' */
}

body {
    margin: 0;
    padding-top: 0;
    display: block;
    place-items: top;
    min-width: 320px;
    min-height: 100vh;
}
