table {
    border-spacing: 0px;
}

th,
td {
    padding: var(--default-padding);
    text-align: left;
    border: 1px solid red !important;
}
td:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
td:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* Padding related */
.noOuterPadding tr:first-child td {
    padding-top: 0;
}
.noOuterPadding tr:last-child td {
    padding-bottom: 0;
}
.noOuterPadding td:first-child {
    padding-left: 0;
}
.noOuterPadding td:last-child {
    padding-right: 0;
}

.noPadding {
    padding: 0;
}
.noPadding td {
    padding: 0;
}

.paddingTopBottomOnly td:first-child {
    padding-left: 0;
}
.paddingTopBottomOnly td:last-child {
    padding-right: 0;
}

.padding150 {
    padding: calc(var(--default-padding) * 1.5);
}
.padding150 td {
    padding: calc(var(--default-padding) * 1.5);
}

/* Misc */
.dotted {
    border-collapse: collapse;
}
.dotted tr {
    border-bottom: 3px solid var(--colorGrayLight);
}
.dotted tr:first-child {
    border-top: 3px solid var(--colorGrayLight);
}

.noWrap {
    text-wrap: nowrap;
}

.striped tr:nth-child(odd) {
    background-color: var(--colorGrayVeryLight);
}

.tight {
    border-spacing: 0px !important;
    border-collapse: collapse !important;
    padding: 0;
}

.valignTop {
    vertical-align: top;
}
.valignTop td {
    vertical-align: top;
}

.widthByContent {
    width: 10px !important;
    text-wrap: nowrap;
}

/* Specific uses */
.adminItems td {
    padding-right: calc(var(--default-padding) * 3);
}

.itemPriceTd {
    padding-top: var(--default-padding) !important;
    padding-bottom: var(--default-padding) !important;
}
