table {
    border-spacing: 0px;
    max-width: 100%;
}

th,
td {
    padding: var(--default-padding);
    text-align: left;
    vertical-align: middle;
    white-space: pre-line;
    /*border: 1px solid red !important;*/
}
td:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
td:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

table.alignMiddle td {
    vertical-align: middle;
}
table.alignTop td {
    vertical-align: top;
}

/* Padding related */
.noOuterPadding tr:first-child td {
    padding-top: 0;
}
.noOuterPadding tr:last-child td {
    padding-bottom: 0;
}
.noOuterPadding td:first-child {
    padding-left: 0;
}
.noOuterPadding td:last-child {
    padding-right: 0;
}

.noPadding {
    padding: 0;
}
.noPadding td {
    padding: 0;
}
.noPaddingTd {
    padding: 0;
}

.noPaddingImportant {
    padding: 0 !important;
}
.noPaddingImportant td {
    padding: 0 !important;
}

.paddingTopBottomOnly td:first-child {
    padding-left: 0;
}
.paddingTopBottomOnly td:last-child {
    padding-right: 0;
}

.padding150 {
    padding: calc(var(--default-padding) * 1.5);
}
.padding150 td {
    padding: calc(var(--default-padding) * 1.5);
}

/* Misc */
.dotted {
    border-collapse: collapse;
}
.dotted tr {
    border-bottom: 3px solid var(--colorGrayLight);
}
.dotted tr:first-child {
    border-top: 3px solid var(--colorGrayLight);
}

table.headerRow tr:first-child td {
    background-color: var(--colorGrayDark);
    padding-bottom: 0.6rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
}
table.headerRow tr:first-child {
    border: 0;
    color: white;
    font-weight: 600;
}
table.headerRow table tr:first-child td {
    background-color: white;
}

.noWrap {
    text-wrap: nowrap;
}

.striped {
    border-collapse: collapse;
}
.striped tr {
    border-bottom: solid 1px var(--colorGrayLight);
}
.striped tr:first-child {
    border-bottom: 0;
}
.striped tr:nth-child(odd) {
    background-color: var(--colorGrayVeryLight);
}

.tight {
    border-spacing: 0px !important;
    border-collapse: collapse !important;
    padding: 0;
}

.underlinedRow td {
    border-bottom: 1px dotted var(--colorGrayLight);
}

.widthByContent {
    width: 1px;
    text-wrap: nowrap;
}

/* Specific uses */
.adminOrderDetails {
    background-color: white !important;
    border-radius: 1.25rem;
    margin: 2px;
    margin-bottom: 3px;
    outline: 3px solid var(--colorGray);
}
.adminOrderDetails td {
    background-color: white !important;
    color: black;
    padding: 1.25rem;
}

.adminOrderDetailsRow {
    background-color: white !important;
    padding: 0;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}

.adminOrders {
    border-collapse: collapse;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.adminOrders td {
    padding-bottom: 0.6rem;
    padding-top: 0.6rem;
}

.adminOrdersOpened {
    background-color: var(--colorYellowVeryLight) !important;
    border-bottom: 0 !important;
}

.adminOrdersMenu {
    border: 3px solid var(--colorGrayLight);
    font-weight: 600;
}
.adminOrdersMenu td {
    padding: 0.5rem !important;
    text-align: center;
}

.itemPriceTd {
    padding-top: var(--default-padding) !important;
    padding-bottom: var(--default-padding) !important;
}

.validationErrors td {
    border: 3px solid var(--colorRed);
    color: var(--colorRed);
}
