table {
    border-spacing: 0px;
}

th,
td {
    padding: var(--default-padding);
    text-align: left;
    /*border: 1px solid red;*/
}
td:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
td:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* Padding related */
.noOuterPadding tr:first-child td {
    padding-top: 0 !important;
}
.noOuterPadding tr:last-child td {
    padding-bottom: 0 !important;
}
.noOuterPadding td:first-child {
    padding-left: 0 !important;
}
.noOuterPadding td:last-child {
    padding-right: 0 !important;
}

.paddingTopBottomOnly td:first-child {
    padding-left: 0 !important;
}
.paddingTopBottomOnly td:last-child {
    padding-right: 0 !important;
}

/* Misc */
.dotted {
    border-collapse: collapse;
}
.dotted tr {
    border-bottom: 2px solid var(--colorGrayLight);
}
.dotted tr:first-child {
    border-top: 2px solid var(--colorGrayLight);
}

.striped tr:nth-child(odd) {
    background-color: var(--colorGrayVeryLight);
}

.tight {
    border-spacing: 0px !important;
    border-collapse: collapse !important;
    padding: 0;
    border: none !important;
}
.tight td {
    text-align: center !important;
}

.widthByContent {
    width: 10px !important;
    text-wrap: nowrap;
}
