h1 {
    font-size: var(--fontSizeGigantic);
    line-height: 1.1;
    color: var(--colorGraySemiDark);
}
h2 {
    font-size: var(--fontSizeHuge);
    line-height: 1.1;
    color: var(--colorGraySemiDark);
}
h3 {
    font-size: var(--fontSizeVeryLarge);
    line-height: 1.1;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: var(--colorGraySemiDark);
}
h4 {
    font-size: var(--fontSizeLarge);
    font-weight: bold;
    margin: 0;
    color: var(--colorGraySemiDark);
}

/* Color */
.colorGoldLight {
    color: var(--colorGoldLight);
}
.colorGray {
    color: var(--colorGray);
}
.colorGrayLight {
    color: var(--colorGrayLight);
}
.colorGraySemiDark {
    color: var(--colorGraySemiDark);
}
.colorGreen {
    color: var(--colorGreen);
}
.colorGreenVeryLight {
    color: var(--colorGreenVeryLight);
}
.colorRed {
    color: var(--colorRed);
}
.colorYellowLight {
    color: var(--colorYellowLight);
}

/* Custom */
.adminHeader {
    text-transform: capitalize;
}

.adminImageCaption {
    font-size: 1rem;
    word-wrap: break-word !important;
    overflow-wrap: break-word !important;
    word-break: break-all;
}

.adminItemEditLabel {
    font-size: 0.85rem;
    color: var(--colorGray);
    padding: 0 !important;
    padding-top: 1rem !important;
    text-transform: uppercase;
}

.pageHeader {
    /* Applied for the <td> that the header is in */
    font-size: var(--fontSizeVeryLarge);
    font-weight: bold;
    padding-bottom: 2rem;
    padding-left: 0;
    padding-top: 1rem;
    text-decoration: underline solid var(--colorGoldVeryLight);
    text-underline-offset: 0.3rem;
    text-decoration-thickness: 0.3rem;
}
