h1 {
    font-size: var(--fontSizeGigantic);
    line-height: 1.1;
}
h2 {
    font-size: var(--fontSizeHuge);
    line-height: 1.1;
}
h3 {
    font-size: var(--fontSizeVeryLarge);
    line-height: 1.1;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
h4 {
    font-size: var(--fontSizeLarge);
    font-weight: bold;
    margin: 0;
}

/* Custom */
.adminEditSubHeader {
    color: var(--colorGrayDark);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
    padding-bottom: 0;
}
.adminEditLangCode {
    color: var(--colorGrayDark);
    font-size: 1rem;
    text-transform: uppercase;
}

.adminHeader {
    text-transform: capitalize;
}

.adminImageCaption {
    font-size: 1rem;
    word-wrap: break-word !important;
    overflow-wrap: break-word !important;
    word-break: break-all;
}

.adminItemEditLabel {
    font-size: 0.85rem;
    color: var(--colorGray);
    padding: 0 !important;
    padding-top: 1rem !important;
    text-transform: uppercase;
}

.lineHeight1 {
    line-height: 1;
}
.lineHeight2 {
    line-height: 2;
}

.noWrap {
    text-wrap: nowrap;
}

.pageHeader {
    /* Applied for the <td> that the header is in */
    font-size: var(--fontSizeVeryLarge);
    font-weight: bold;
    margin-bottom: 2rem;
    margin-top: 1.5rem;
    /*padding-bottom: 2rem;
    padding-left: 0;
    padding-top: 1.25rem;*/
    text-align: left;
    text-decoration: underline solid var(--colorGoldVeryLight);
    text-underline-offset: 0.3rem;
    text-decoration-thickness: 0.3rem;
}
