h1 {
    font-size: var(--fontSizeGigantic);
    line-height: 1.1;
    color: var(--colorGraySemiDark);
}
h2 {
    font-size: var(--fontSizeHuge);
    line-height: 1.1;
    color: var(--colorGraySemiDark);
}
h3 {
    font-size: var(--fontSizeVeryLarge);
    line-height: 1.1;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: var(--colorGraySemiDark);
}
h4 {
    font-size: var(--fontSizeLarge);
    font-weight: bold;
    margin: 0;
    color: var(--colorGraySemiDark);
}

/* Size */
.sizeVerySmall {
    font-size: 0.5rem;
}
.sizeSmall {
    font-size: 0.75rem;
}
.sizeSmallish {
    font-size: 0.85rem;
}
.sizeNormal {
    font-size: 1rem;
}
.sizeLarge {
    font-size: 1.25rem;
}
.sizeVeryLarge {
    font-size: 1.5rem;
}

/* Style */
.bold {
    font-weight: 700;
}
.semiBold {
    font-weight: 500;
}

.italic {
    font-style: italic;
}

.capitalize {
    text-transform: capitalize;
}

.underlined {
    text-decoration: underline solid;
    text-underline-offset: 0.3rem;
    text-decoration-color: var(--colorGoldVeryLight);
    text-decoration-thickness: 0.3rem;
}

.upperCase {
    text-transform: uppercase;
}

/* Color */
.colorGoldLight {
    color: var(--colorGoldLight);
}
.colorGray {
    color: var(--colorGray);
}
.colorGraySemiDark {
    color: var(--colorGraySemiDark);
}
.colorGreen {
    color: var(--colorGreen);
}
.colorGreenVeryLight {
    color: var(--colorGreenVeryLight);
}
.colorRed {
    color: var(--colorRed);
}
.colorYellowLight {
    color: var(--colorYellowLight);
}

/* Custom */
.adminHeader {
    font-weight: bold;
    text-transform: capitalize;
}

.adminImageCaption {
    font-size: 1rem;
    word-wrap: break-word !important;
    overflow-wrap: break-word !important;
    word-break: break-all;
}

.adminItemEditLabel {
    font-size: 0.85rem;
    color: var(--colorGray);
    padding: 0 !important;
    padding-top: 1rem !important;
}

.infoText {
    padding-bottom: 0.75rem !important;
    padding-right: 1rem !important;
}

.itemDetailsName {
    font-size: 1.75rem;
    font-weight: bold;
}
.itemDetailsPrice {
    font-size: 1.25rem;
    font-weight: bold;
}
.itemDetailsAdjustAmount {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--colorGraySemiDark);
    margin-left: 0.5rem !important;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    user-select: none;
}
